<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logowithbordercircle"
        android:label="iVerse"
        android:roundIcon="@drawable/logowithbordercircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_warnet"
        tools:targetApi="31">
        <activity
            android:name=".model.UserEditProfile"
            android:exported="false" />
        <activity
            android:name=".model.TambahDataWarnet"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxwbxIMln8TZhduQMiPywJvtNidkRsx8Y" />

        <activity
            android:name=".maps.NetLocation"
            android:exported="false"
            android:label="Net Location" />
        <activity
            android:name=".model.TambahDataUser"
            android:exported="false" />
        <activity
            android:name=".ViewAdapter"
            android:exported="false" />
        <activity
            android:name=".ViewModel"
            android:exported="false" />
        <activity
            android:name=".ViewData"
            android:exported="false" />
        <activity
            android:name=".model.WarnetDetailUser"
            android:exported="false" />
        <activity
            android:name=".model.WarnetEdit"
            android:exported="false" />
        <activity
            android:name=".model.WarnetDetail"
            android:exported="false" />
        <activity
            android:name=".model.UserEdit"
            android:exported="false" />
        <activity
            android:name=".model.UserDetail"
            android:exported="false" />
        <activity
            android:name=".admin.AdminUserDataActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDataWarnetActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserFindActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>